.article_1{
    border: 1px solid grey;
    padding: 30px;
    margin: 30px 100px;
}
h2{
    color: orange;
    font-family: Arial;
}
p{
    font-family: Arial;
}
h1{
    font-family: Times;
}
nav{
    color: orange;
    font-family: Arial;
}
.up{
    text-align: center;
    color: white;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 30px,  0px;
}
footer{
    color: white;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}